
.short_comments_widget
{
	position: absolute;
	left: -10px;
	z-index: 31000;
}

#toBeAppended
{
	position: absolute;
	z-index: 30000;
	top: 300px;
	left: 265px;
	display: none;
}

.commemt-form
{
	width: 190px;
	height: 250px;
	background: #ececec;
	-webkit-box-shadow: 0px 0px 5px #373936;
	-webkit-border-radius: 3px;
}

.custom-comment-form-textarea
{
	width: 170px;
	height: 158px;
	margin: 5px;
}

#custom-comment-form-submit-button
{
	margin-left: 5px;
}

.custom-comment-form-username
{	
	width: 170px;
	margin: 5px;
}

