/* Reset Styles should be here */

#toBeAppended *
{
	/* Reset styles */
}

.custom-comment textarea, .commemt-form input[type=submit]
{
	
}

.short_comments_widget
{
	position: absolute;
	left: -10px;
	z-index: 31000;
}

.commemt-form
{
	background: #323232;
}
.commemt-form input[type=text]
{
	background: none;
}



#custom-comment-form-submit-button
{
	margin: 7px;
	margin-right: 11px;
	margin-top: 0px;
	float: right;

}


.custom-comment input[type=text], .custom-comment textarea
{
	font-family: tahoma;
	color: #666;
	font-size: 11px;
	padding: 5px;
	/*border: 1px solid #ececec;*/
	border: none;
	background: white;
	-webkit-box-shadow: inset 1px 1px 5px #373936;
	   -moz-box-shadow: inset 1px 1px 5px #373936;
	        box-shadow: inset 1px 1px 5px #373936;
} 	

.feedback_message
{	
	width: 100px;
	color: #5cba5c;
	margin-right: 10px;
	font-size: 12px;
}

.click_area
{
	position: absolute;
	width: 54px;
	height: 46px;
	top: 35px;
	left: 5px;
	cursor: text;
	
	/* Font style */
	color: #888;
	font-size: 10px;
	font-family: tahoma;
	padding: 5px 6px 6px 6px;
	line-height: 12px;
}

.fc_image_title
{
	position: absolute;
	width: 53px;
	height: 30px;
	top: 0px;
	left: 5px;
	cursor: text;
	color: #999999;

	
	/* Font style */
	font-size: 11px;
	font-family: tahoma;
	text-align: center;
	padding: 5px 6px 6px 6px;
	line-height: 12px;
	text-shadow: 0px 0px 5px black;
}


#contact_form_small
{
	position: absolute;
}

.commemt-form input[type=submit]
{
	color: white;
}


.wptg_credit
	{
		color: #777777;
	}


	.wptg_credit a
	{
		color: #999999;
		text-decoration: none;
	}

	.wptg_credit a:hover
	{
		color: #999999;
	}


	.feedback_message
{
	font-family: tahoma;
	margin-left: 12px;
	color: #ececec;
}
