#toBeAppended
{
	position: absolute;
	z-index: 30000;
	top: 300px;
	left: 265px;
	display: none;
}

.commemt-form
{
	width: 195px;
	height: 310px;
	-webkit-box-shadow: 0px 0px 5px #373936;
	   -moz-box-shadow: 0px 0px 5px #373936;
	        box-shadow: 0px 0px 5px #373936;

	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;

	display: none;
		
}

.custom-comment input[type=text]
{
	width: 165px;
	height: 22px;
	margin: 10px 10px 0 10px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
}

.custom-comment textarea
{
	border: none;
	width: 164px;
	height: 158px;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 6px;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	
}


.wptg_credit
	{	
		position: absolute;
		font-size: 10px;
		top: 80px;
		left: 7px;
		padding: 0px 5px 0px 5px;
		text-align: center;
		width: 53px;
	}